<form action="/api/users" method="post" class="mx-5">
  <div class="div text-end" style="margin: 0% 0% 10% 60%">
    <div class="form-group mb-3">
      <div>
        <label for="category" class="form-label"></label>
        <select name="category" class="form-label" id="category">
          <option disabled selected value><b>Blog Category</b></option>
          <option value="Music">Music</option>
          <option value="Life">Life</option>
          <option value="Science">Science</option>
          <option value="Sports">Sports</option>
          <option value="Food">Food</option>
          <option value="Custom">Custom</option>
        </select>
      </div>
    </div>
  </div>
  </form>