<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" href="#" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Blog Category
    </a>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href="/category/Food">Food</i></a></li>
        <li><a class="dropdown-item" href="/category/Life">Life</a></li>
        <li><a class="dropdown-item" href="/category/Science">Science</a></li>
        <li><a class="dropdown-item" href="/category/Music">Music</a></li>
        <li><a class="dropdown-item" href="/category/Sports">Sports</a></li>
        <li><a class="dropdown-item" href="/category/Custom">Custom</a></li>
    </ul>
</li>